<article class="main-contents pull-right">
  <h3>下記内容で投稿する</h3>
  <%= form_with(model: @feed, url: feeds_path, local: true) do |form| %>
    <%= form.hidden_field :image_cache %>
    <%= form.hidden_field :content %>
    <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
    <%= form.hidden_field :image_cache %>
    <%= @feed.content %>
    <%= form.submit "投稿する" %>
    <%= form.submit "戻る", name: "back" %>
  <% end %>
</article>
<%= render 'aside' %>