<h3>下記内容で投稿する</h3>
<%= form_with(model: @feed, url: feeds_path, local: true) do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
  <%= @feed.content %>
  <%= form.submit "投稿する" %>
<% end %>

<%= form_with(model: @feed, url:new_feed_path, local: true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "戻る", name: "back" %>
<% end %>