<div class="notice">
  <%= notice %>
</div>
<div class="wrapper">
  <article class="main-contents pull-right">
    <% @feeds.each do |feed| %>
      <div class="post_content">
        <ul class="menu-content">
          <li><%= link_to '確認', feed %></li>
          <li>投稿者：<%= feed.user.name %></li>
        <% if logged_in? %>
          <% if current_user.id == feed.user.id %>
            <li><%= link_to '編集', edit_feed_path(feed) %></li>
            <li><%= link_to '削除', feed, method: :delete, data: { confirm: '本当に削除しますか？' } %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
      <% unless feed.image.url == nil %>
        <%= image_tag feed.image.url %><br>
      <% end %>
        <br>
      <div class="feed-content"><%= feed.content %></div><br>
    <% end %>

  </article>

  <aside class="pull-left">
    <% if logged_in? %>
      ログインユーザー：<%= current_user.name %><br>
      <%= link_to '新規投稿', new_feed_path %>
    <% else %>
      ようこそゲスト様
    <% end %>
  </aside>
</div>