<p id="notice"><%= notice %></p>
<h1>Feeds</h1>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <% if feed.image.url == nil %>
          <td></td>
        <% else %>
          <td><%= image_tag feed.image.url %></td>
        <% end %>
        <td><%= feed.content %></td>
        <td>投稿者：<%= feed.user.name %></td>
        <td><%= link_to '確認', feed %></td>
        <% if current_user.id == feed.user.id %>
          <td><%= link_to '編集', edit_feed_path(feed) %></td>
          <td><%= link_to '削除', feed, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to '新規投稿', new_feed_path %>