<div class="non-sidebar-content">
  <h1>Sign up</h1>
  <% if @user.errors.any? %>
      <h2><%= pluralize(@user.errors.count, "error") %></h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>
  <%= form_with(model: @user, local: true) do |f| %>
    <div class="login-and-siginin-form-item">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="login-and-siginin-form-item">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="login-and-siginin-form-item">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="login-and-siginin-form-item">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit "アカウントの作成" %>
  <% end %>
</div>